@font-face {
  font-family: raleway;
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/raleway/raleway-800.woff2);
  font-display: swap;
}

@font-face {
  font-family: rubik;
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rubik/rubik-700.woff2);
  font-display: swap;
}

@font-face {
  font-family: rubik;
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rubik/rubik-400.woff2);
  font-display: swap;
}

.page_header {
    background-color: rgba(255, 225, 127, 1);
    color: rgba(0, 0, 0, 1);
  }s
.search_button {
  font-family: rubik, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
  text-align: center;
  }

.login_link {
  font-family: rubik, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
}

.navigation_link {
  font-family: raleway, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;
}

.title_1 {
  font-family: raleway, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 50px;
  line-height: 50px;
  color: rgba(0, 0, 0, 1);
}

.product_description, .company_info_description, .newsletter_description {
  font-family: rubik, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: rgba(68, 68, 68, 1);
}

.More_info_link {
  font-family: raleway, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 1);
  background-image: url(/images/design_features/more_info_link.png);
  background-repeat: no-repeat;
  background-position: 50%;
 }

 .product_advantages {
  font-family: rubik, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 30px;
  color: rgba(0, 0, 0, 1);
 }

 .product_advantages_description {
  font-family: rubik, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 30px;
  color: rgba(68, 68, 68, 1);
 }

 .category_icon {
background-color: rgba(255, 225, 127, 1);
 }

 .product_types_links {
  font-family: raleway, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
 }

 .shop_service {
  background-color: rgba(240, 240, 240, 1);
 }

 .shop_services_button_choosen {
  font-family: raleway, sans-serif;
  font-weight: 800;
  font-style: normal;
  font-size: 18px;
  line-height: 21px;
  color: rgba(255, 225, 127, 1);
  background-color: rgba(0, 0, 0, 1);
 }

 .shop_service_description {
  font-family: rubik, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 30px;
  color: rgba(68, 68, 68, 1);
 }

 .rare_products_icon {
  background-color: rgba(255, 225, 127, 1);
 }

 .rare_products_info {
  background-color: rgba(240, 240, 240, 1);
 }

 .company_info_additional_list li {
color: rgba(255, 199, 0, 1);
list-style-type: disc;

 }

 li span{
  font-family: rubik, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  color: rgba(0, 0, 0, 1);
   }

  .title_3 {
    font-family: rubik, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 24px;
    line-height: 30px;
    color: rgba(0, 0, 0, 1);
  }

  .newsletter {
    background-color: rgba(240, 240, 240, 1);
  }

  .page_footer {
    background-color: rgba(68, 68, 68, 1);
    color: rgba(255, 255, 255, 1);
  }

  .footer_description {
    font-family: rubik, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: rgba(255, 255, 255, 1);
  }

  .footer_link {
    font-family: raleway, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 18px;
    line-height: 21px;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;

  }

  .Breadcrumbs {
    color: rgba(0, 0, 0, 1);
  }

  .Breadcrumbs_link {
    font-family: rubik, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: inherit;
    text-decoration: none;
  }

  .Breadcrumbs_item {
    list-style-type: none;
  }

  .Choosen_product_filter_title {
    font-family: raleway, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 1);
    text-transform: uppercase;
  }

  .Choosen_product_filter {
    background-color: rgba(240, 240, 240, 1);
  }
